body {
  background-color: rgba(255, 0, 0, 0.666);
}
p {
  margin: 0;
}
button {
  transition-duration: 300ms;
  transition-property: background-color;
  cursor: pointer;
  width: 100px;
  height: 45px;
  border-radius: 10px;
}
.btn_top {
  transition-duration: 300ms;
  transition-property: background-color;
  background-color: rgba(0, 0, 0, 0.123);
  border: 1px solid rgba(0, 0, 0, 0.596);
  border-radius: 30px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  bottom: 100px;
  right: 30px;
}

.search-svg {
  fill: blanchedalmond;
  width: 40px;
  height: 40px;
}

img:hover {
  transform: scale(1.04);
}
.btn_top:hover {
  background-color: rgba(137, 43, 226, 0.327);
}
button:hover {
  background-color: rgba(137, 43, 226, 0.327);
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
img {
  transition: 300ms transform;
  cursor: pointer;
  width: 100%;
  height: 250px;
}
.gallery {
  font-size: 16px;
  color: black;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.wrapp_input {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.list_item {
  width: 350px;
  height: 250px;
}
video {
  height: 220px;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}
img {
  height: 220px;
  width: 350px;
}
/* ============================================================== */

.search-container {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}
.search-container:hover > .search-input {
  width: 260px;
}

.search-container .search-btn .fas {
  color: #5cbdbb;
}
.searcher-svg {
  width: 25px;
  height: 25px;
  fill: #5cbdbb;
}
/* =========================================================== */
@media screen and (min-width: 480px) {
  .btn_top {
    width: 100px;
    height: 100px;
  }
  .search-svg {
    width: 60px;
    height: 60px;
  }

  .search-container .search-input {
    border-radius: 0;
    width: 320px;
    justify-content: left;
  }

  .search-input {
    border-radius: 10px;
  }
}
.is-hidden {
  display: none;
  opacity: 0;
  overflow: hidden;
}
.photo-card {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition-property: transform;
  transition-duration: 300ms;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
@media screen and (min-width: 440px) {
  .photo-card {
    width: 350px;
  }
}
.photo-card:hover {
  transform: scale(1.02);
}
.info {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.info-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #424242;
  text-decoration-line: none;
}
